body {
	/* font-size: 16px;
	I do not have a defined font size because it means that the text is not universally designed. 
	If the font was a fixed size, it would not increase automatically when zoomed in or out.
	*/
	font-family: var(--font-family-rufina-bodytext);
	background-color: var(--color-background);
	color: var(--color-font-text);
	width: 100vw;
	overflow-x: hidden;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

main {
	font-size: var(--fontsize-text-small);
	width: 100vw;
}

h3 {
	font-size: 4rem;
	font-family: var(--font-family-coiny-header);
	color: var(--color-font-title);
}

/*Mobile*/
@media screen and (max-width: 1024px) {
	main {
		font-size: var(--fontsize-text-small);
	}

	h3 {
		font-size: 2.8rem;
	}
}
/*Tablet*/
@media screen and (min-width: 1025px) and (max-width: 1280px){
	main {
		font-size: var(--fontsize-text-small);
	}

	h3 {
		font-size: 3rem;
	}
}