@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Concert+One&family=Rufina:wght@400;700&display=swap');
/*
font-family: 'Coiny', cursive;
font-family: 'Concert One', cursive;
font-family: 'Rufina', serif; In regular 400 and bold 700
*/