:root {
	/*Colors*/
	--color-header: #FFD8A9;
	--color-background: #FDEEDC;
	--color-foreground: #883F3F;
	--color-foreground-pattern-box: #FFDCDC;
	--color-pattern-card-background: var(--color-header);
	
	--color-font-title: #883F3F;
	--color-font-text: black;
	--button-hover-color: #400400;

	/*Fontsize*/
	--fontsize-header-navigation: 1.5rem;
	--fontsize-title-large: 4rem;
	--fontsize-title-medium: 3rem;
	--fontsize-title-small: 1.5rem;
	--fontsize-text-small: 1.4rem;

	/*Font family*/
	--font-family-coiny-header: 'Coiny', cursive;
	--font-family-concert-menu: 'Concert One', cursive;
	--font-family-rufina-bodytext: 'Rufina', serif; /*In regular 400 and bold 700*/

	/*Padding and margin*/
	--padding-gap: 1rem;
	--padding-gap-medium: 1.5rem;
	--margin-gap: 2rem;
	--margin-gap-medium: 2.5rem;
}