.footer {
	background-color: var(--color-foreground);
	width: 100%;
	height: auto;
	padding: var(--padding-gap);
}

.footer__icons {
	display: flex;
	align-content: end;
	gap: 1rem;
	margin-top: 4rem;
}

.footer__icons-facebook {
	background-image: url(../../assets/images/icons8-facebook-40.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.footer__icons-instagram {
	background-image: url(../../assets/images/icons8-instagram-40.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.footer__icons-pinterest {
	background-image: url(../../assets/images/icons8-pinterest-40.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hiddenLink {
	display: block;
	left: 2.5rem; 
	top: 2.5rem;
	height: 2.5rem;
	width: 2.5rem;
}

.footer__content li{
	display: flex;
	font-family: 'Concert One', cursive;
	font-size: 1rem;
	color: white;
	letter-spacing: 0.2rem;
	text-decoration: underline;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

/*Mobile*/
@media screen and (max-width: 1024px) {
	.footer__content-list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
	}

	.footer__icons {
		display: flex;
		align-items: center;
		flex-direction: row;
		align-self: center;
		justify-content: space-around;
	}
}





