.main-frontpage__image--container {
 	width: 100vw;
}

.main-frontpage__image {
	height: 65vh;
	width: 100%;
	object-fit: cover;
	background-image: cover;
	background-repeat: no-repeat;
	background-position: center;
}